<!--
============================================
; Title:  _footer.ejs
; Author: Victor Soto
; Date:   11/19/2023
; Source: https://github.com/buwebdev/web-340/blob/master/week-5/fms/views/partials/_footer.ejs
;===========================================
-->
<footer class="app-footer">
    <ul>
        <li>
            <p>©
                <script>document.write(new Date().getFullYear())</script> Pets-R-Us
            </p>
        </li>
        <li>
            <p>Images courtesy of <a href="http://unsplash.com/">Unsplash</a></p>
        </li>
    </ul>
</footer>