<!--
============================================
; Title:  grooming.ejs
; Author: Victor Soto
; Date:   11/12/2023
; Source: Images from https://unsplash.com/
;===========================================
-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/site.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
        <title>Pets-R-Us</title>
        <link rel="stylesheet" href="/styles/site.css">
    </head>

    <body>
        <header class="app-header">
            <h1>Welcome to Pets-R-Us Grooming Services!</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/boarding">Boarding</a></li>
                    <li><a href="/training">Training</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main class="card-content">
            <h2>Grooming Services</h2>
            <p>We offer a variety of grooming services for your pets. Our professional groomers are trained to care for all breeds of dogs. Contact us to schedule an appointment.</p>
        </main>

        <footer class="app-footer">
            <ul>
                <li>
                    <p>© 2023 Pets-R-Us</p>
                </li>
                <li>
                    <p>Images courtesy of <a href="http://unsplash.com/">Unsplash</a></p>
                </li>

            </ul>
        </footer>
    </body>

</html>