<!--
;===========================================
;Title: register.ejs
;Author: Victor Soto
;Date: 11/26/2023
;===========================================
-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
        <title>Pets-R-Us</title>
        <link rel="stylesheet" href="/styles/site.css">
    </head>

    <body>
        <!-- header partial view -->
        <%- include('_header') %>

            <section class="container">
                <div>
                    <p>
                        Welcome to Pets-R-Us! Kickstart your journey by registering your unique customer ID and email. A world of professional pet care services awaits you!
                    </p>
                    <br />
                </div>
            </section>

            <section class="container">
                <div>
                    <form action="/register" method="post">
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name"><br>
                        <label for="email">Email:</label><br>
                        <input type="text" id="email" name="email"><br>
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </form>
                </div>
            </section>

            <!-- Footer Partial -->
            <%- include('_footer') %>
    </body>

</html>