/*
============================================
; Title:  site.css
; Author: Victor Soto
; Date: 11/19/2023
; Source: CSS tutorial/review: w3schools - https://www.w3schools.com/css/css_examples.asp
; Source: Images from https://unsplash.com/
;===========================================
*/

body {
    font-family: 'Oswald', sans-serif, ariel, helvetica;
    font-size: 28px;
    color: #2f1313;
    /* Background Image for page. Image by Alvan Nee, from unsplash.com */
    background-image: url('/images/alvan-nee.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.app-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.app-footer ul li {
    margin-right: 60px;
}

.app-footer li a {
    color: rgb(231, 104, 104);
    text-decoration: none;
    padding: 0 10px;
}

h1 {
    padding-top: 100px;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url('/images/alvan-nee.jpg');
    background-size: cover;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #572323;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 2px 1px rgb(106, 106, 106, 0.2);
    border-radius: 5px;
}

nav li a:hover {
    background-color: #ae6427;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.card-content section {
    padding: 20px;
}

.card-content p {
    color: #000;
    /* Text color */
}

.btn {
    border-radius: 5px;
    margin-bottom: 25px;
    width: 95%;
    background-color: #8c6239;
    color: #f9f3b9;
}

.btn-primary {
    display: block;
    width: 360px;
    height: 50px;
    margin: 0 auto;
    background-color: #8c6239;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    box-shadow: 0 10px 20px #ffffff80;
}

.btn-primary:hover {
    background-color: #0069d9;
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.5);
    transform: translateY(-7px);
}

.card-content:hover {
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}

.intro {
    padding: 20px;
    width: 100%;

    /* Centered */
    margin: 0 auto;

    /* Transition effect for border color */
    transition: border-color 0.3s ease;

    /*text color*/
    color: #e5cd6c;

    /* Prevent the border from resizing */
    box-sizing: border-box;

}


section p {
    color: white;
}

table {
    border-spacing: 10px;
}

.table-hover {
    box-shadow: 10px 15px 25px rgba(255, 255, 255, 0.5);
    transform: translateY(-7px);

}

th {
    padding: 15px;
    text-align: left;
    color: #2f1313;
    font-weight: 600;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

td {
    padding: 15px;
    text-align: left;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.5);
    transform: translateY(-7px);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 22px;

}

/* Styles for section titles */
section h2 {
    font-size: 32px;
    color: #2f1313;
    text-decoration: underline;
}

/* Styles for section text */
section p {
    font-size: 24px;
    color: #2f1313;
}

/* Styles for dividers */
section {
    border-bottom: 1px solid #8c6239;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* Styles for Contact Us form */
#contact-us {
    border: 2px solid #8c6239;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#contact-us label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
}

#contact-us input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #8c6239;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-us input[type="submit"] {
    background-color: #8c6239;
    color: #f9f3b9;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-us input[type="submit"]:hover {
    background-color: #e5cd6c;
    color: #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-us:hover {
    box-shadow: 0px 0px 10px #e5cd6c;
}

.form-field {
    padding: 20px;
}

.center-text {
    padding-left: 10px;
}

p {
    padding-left: 18px;
}

h2 {
    padding-left: 8px;
}